/* #inp{
    margin:5px;
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 1px solid red;
    font-size: 40px;
} */

#inp{
    width:100px;
    margin:10px auto;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}